/* #frontpage {
    display: none;
} */
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    background-image: url("../img/Rolling-1s-200px.gif");
    background-repeat: no-repeat;
    background-position: center;
}

/* Spinner Sphere
.sp-sphere {
    border-radius: 50%;
    border-left: 0px #000 solid;
    border-right: 0px #000 solid;
    -webkit-animation: spSphere 1s infinite linear;
    animation: spSphere 1s infinite linear;
}
@-webkit-keyframes spSphere {
    0% {
        border-left: 0px #000 solid;
        border-right: 0px #000 solid;
   }
    33% {
        border-left: 32px #000 solid;
        border-right: 0px #000 solid;
   }
    34% {
        border-left: 0px #000 solid;
        border-right: 32px #000 solid;
   }
    66% {
        border-left: 0px #000 solid;
        border-right: 0px #000 solid;
   }
}
@keyframes spSphere {
    0% {
        border-left: 0px #000 solid;
        border-right: 0px #000 solid;
   }
    33% {
        border-left: 32px #000 solid;
        border-right: 0px #000 solid;
   }
    34% {
        border-left: 0px #000 solid;
        border-right: 32px #000 solid;
   }
    66% {
        border-left: 0px #000 solid;
        border-right: 0px #000 solid;
   }
} */